<h1 class="text-center">Media Types</h1>
<hr/>

	<div class="text-center">

		<ul class="nav nav-pills" id="myTab">
			<% @types.each do |type| %>
			  <li class="span2 label-<%= type.name %>">
			  		<a href="#<%= type.name %>" class="top">
			  			<%= type.name.capitalize.pluralize %>
			  		</a>
		  	</li>
		  <% end %>
		</ul>
	</div>

	<div class="text-center">

		<div class="tab-content" id="myContent">
			<% @types.each do |type| %>
					<div class="tab-pane" id="<%= type.name %>">

						<div id="masonry-container" class="transitions-enabled centered clearfix masonry">
							<% type.posts.limit(10).each do |post| %>
								<!-- <li><%= link_to post.title, post %></li> -->	

								<%= render 'shared/tree', :post => post %>

							<% end %>
						</div>
					</div>
			<% end %>

		</div>

	</div>

	<style type="text/css">

	#myTab {
		display: inline-block;
		margin: 0 auto;
	}

	.nav-pills li a {
		background: #ddd;
		color: white;
	}


	#myContent {
		overflow:hidden;
	}

	</style>


<script>

	$(function () {
    $('#myTab li:first').addClass('active');
    $('#myContent div:first').addClass('active');
  });	

  $('#myTab a').click(function (e) {
	  e.preventDefault();
	  $(this).tab('show');
	})

	 $('.label-rich a').html('Audio')


</script>

