<div class="text-center">
  <% if @user.profile_image != "" %>
    <%= image_tag( @user.profile_image_url, :class => "img-circle") %>
  <% end %>
  <h1><%= @user.name %></h1>
  <p>Email: <%= @user.email if current_user.has_role? :admin %></p>

  <p class="well"><%= @user.bio if @user.bio != "" %></p>

  <h2>Latest Posts</h2>
  <hr/>

  <div id="masonry-container" class="transitions-enabled centered clearfix masonry">

      <% @user.posts.reverse.each do |post| %>
        <%= render 'shared/tree', :post => post %>
      <% end %>
  </div>
</div>
<script type="text/javascript">

 $('img').load(function(){
            $('#masonry-container').masonry();
        });

$(function(){  
  $('#masonry-container').masonry({
    itemSelector: '.box',
    isFitWidth: true

  });

});

</script>