<div class="">
  <% if @user.profile_image != "" %>
    <%= image_tag(@user.profile_image.url(:thumb), :class => "img-circle") %>
  <% end %>
  <h1><%= link_to @user.name, vanity_url_path(@user) %></h1>
  <p>Email: <%= @user.email if current_user.has_role? :admin %></p>

  <p class="well"><%= @user.bio if @user.bio != "" %></p>

  <label class="label label-success"><%= link_to pluralize(@user.posts.count, 'Post'), vanity_url_path(@user) %></label>

  <% @user.categories.each do |category| %>
    <label class="label label-info">
      <i class="icon icon-white icon-tag"></i>
      <%= category.name %>
    </label>
  <% end %>

  <hr/>

  <h3>Admin</h3>

  <%= simple_form_for :category_user, :url => "/category_users/:category_id/:user_id", method: :post, :remote => true do |c| %>
    <%= c.collection_select :category_id, Category.order(:name),:id,:name, include_blank: false %>
    <%= c.input :user_id, :input_html => { :value => @user.id }, as: :hidden  %>
    <br/>
    <%= c.button :submit, :value => "Add Category", :class => "btn btn-small" %>
  <% end %>


</div>