  <article class="row">

   <section class="span10">
      <h1>
          <% if @post.title != "" %>
            <%= link_to @post.title, @post.url, :target => "_blank"  %>
          <% else %>
            <%= link_to truncate(@post.url, :length => 25), @post.url, :target => "_blank"  %>
          <% end %>
      </h1>
      <hr/>
    </section>

  <section class="span7">
  
  <div id="" class="flex-video widescreen">
        <% if @post.embed_code %>
          <%= @post.embed_code.html_safe %>
        <% elsif @post.image %>
          <%= image_tag(@post.image) %>
        <% else %>
          <p class="well" >Sorry, there is no embed code.</p> 
        <% end %>
  </div>


    <% if @post.description != "" %>
      <p class="well">
        <%= @post.description %>
      </p>
    <% else %>
    <% end %>

    <% if current_user %>
     <% if posted(current_user, @post) %>
        <span class="pull-left">
        <%= link_to 'Un-Post', delete_user_post_path(current_user.id, @post.id),
         :remote => true, method: :delete, :class => "btn btn-mini pull-right delete_user_post" %>
         <%= link_to 'Post', create_user_post_path(current_user.id, @post.id),
         :remote => true, method: :post, :class => "btn btn-mini btn-success pull-right user_post hidden" %>
        </span>
         <% else %>
         <span class="pull-left">
         <%= link_to 'Post', create_user_post_path(current_user.id, @post.id),
         :remote => true, method: :post, :class => "btn btn-mini btn-success pull-right user_post" %>
         <%= link_to 'Un-Post', delete_user_post_path(current_user.id, @post.id),
         :remote => true, method: :delete, :class => "btn btn-mini pull-right delete_user_post hidden" %>
       </span>
     <% end %>
    <% end %>

  </section>
  <side class="span3">

    <section>
      <%= link_to image_tag(@post.image), @post.url, :class => "thumbnail" if @post.image %>
      <br/>
      <p>
        <% if @post.provider %>
        <span>On <%= link_to @post.provider.name, provider_path(@post.provider) %></span>
        <% end %>
        <% if @post.author %>
        <span> By <%= link_to @post.author.name, author_path(@post.author) %></span>
        <% end %>
      </p>
    </section>

        <section>

        <p>Via
          <% @post.users.limit(3).each do |user| %>
            <span><%= link_to user.name, vanity_url_path(user.profile) %></span>
          <% end %>
        </p>
    </section>

    <section>
      <p>
      <label class="label label-mini label-success"><%= pluralize(post_count(@post), 'post') %></label>
      <label class="label label-mini label-<%= @post.type.name %>"><%= link_to @post.type.name, type_path(@post.type) %></label>

      <div id="category_labels">
        <%= render :partial => "category_posts/category_labels", :post => @post %>
      </div>

    </p>
    </section>

    <hr/>

    <section>
      <% if @post.tags.any? %>
      <p>Tags:
          <% @post.tags.each do |tag| %>
          <span><%= link_to "##{tag.name}", tagged_posts_path(:tag => tag.name) %></span>
        <% end %>
      </p>

      <% end %>

      <% if can? :manage, @post %>
        <p>Edit Tags:</p>
       <%= simple_form_for(@post) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.text_area :tag_list, :cols => 4, :rows => 3, :class => "span3", :stye => "height: 80px;" %>
            <%= f.button :submit, :value => "Add Tags", :class => "btn btn-mini" %>
          </div>
        <% end %>
         <%= link_to 'Edit', edit_post_path(@post) %>
      <% end %>

    </section>


  </side>

</article>

