<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>

<%= link_to image_tag("embedtree-logo.png", :width => "55px"), root_path, :class => 'nav_logo pull-left' %>
<%= link_to "EmbedTree<br/><span style='font-size:50%'>#IncreasingSerendipity</span>
".html_safe, root_path, :class => 'brand' %>

<ul class="nav">
      <li>
      <%= simple_form_for(Post.new, html: { :class => "navbar-form", :style => "margin: 10px; auto" }, :validate => true) do |f| %>
            <%= f.error_notification %>
            <%= f.input :url, label: false , :validate => { :presence => true },  :input_html => { :placeholder => "Enter your link here...", :style => ''} , wrapper_html: { :class => 'pull-left', style: "margin-right:5px;" } %>
            <%= f.button :submit, :value => 'Post', :class => 'btn' %>
      <% end %>
    </li>
</ul>

<div class="nav-collapse collapse">

  <ul class="nav pull-right">
    <% if user_signed_in? %>
      <li class="dropdown">
          <a class="dropdown-toggle"
             data-toggle="dropdown"
             href="#">
             <div class="pull-left" style="margin-right:5px;">
              <%= image_tag current_user.profile.image.url(:thumb) || "embedtree-logo.png", :width => "25px", :class => "img-circle"  %> 
            </div>
            <%= current_user.profile.display_name || current_user.name %>
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <% if current_user.has_role? :admin %>
            <li>
            <%= link_to 'Admin', users_path %>
            </li>
            <li class="divider"></li>
            <% end %>
             <li>
            <%= link_to 'View Profile', vanity_url_path(current_user.profile) %>
            </li>
             <li>
            <%= link_to 'Edit Profile', edit_profile_path(current_user.profile) %>
            </li>
             <li>
            <%= link_to 'Edit Account', edit_user_registration_path %>
            </li>
            <li class="divider"></li>
            <li>
            <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
            </li>
          </ul>
        </li>
    <% else %>
      <li>
      <%= link_to 'Sign up', new_user_registration_path %>
      </li>
      <li>
      <%= link_to 'Login', new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>