<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "EmbedTree | Increasing Serendipity" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "EmbedTree" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="wrap">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <nav class="navbar-inner">
          <div class="container">
            <%= render 'layouts/navigation' %>
          </div>
        </nav>
      </div>
      <div id="main" role="main">
        <div class="container">
          <div class="content">
             <div class="row">
              <div class="span10 offset1">
                <%= render 'layouts/messages' %>
                <%= yield %>
              </div>
            </div>

          </div>
        </div> <!--! end of .container -->
      </div> <!--! end of #main -->

      <div id="push"></div>
    </div>
    <footer>
        <hr/>
          <section class="text-center">
            <div class="footer_nav text-center clearfix">
              <ul class="nav nav-pills">
                <li class=""><%= link_to 'Creators', authors_path %></li>
                <li class=""><%= link_to 'Media', types_path %></li>
                <li class=""><%= link_to 'Partners', providers_path %></li>
              </ul>
            </div>

            <div>EmbedTree &copy;</div>
          </section>
    </footer>
  </body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-31960505-1', 'embedtree.com');
  ga('send', 'pageview');

</script>
</html>
